<p>Edit your list title, edit or add new tasks, or check tasks off to remove them from the list.
To save your changes, click "Update List" button.</p>
<form action="/lists/<%= @list.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <div class="title-div">
    <input type="text" name="title" value="<%= @list.title %>">
    <p class="flash">
      <% if flash[:taken] %>
        <%= flash[:taken] %>
      <% end %>
    </p>
  </div>
    <ul>
      <% @checkitems.each do |item| %>
        <input type="text" name="[checkitems][][contents]" value="<%= item.contents %>">
        <input name="completed[<%=item.id%>]" type="checkbox">
        <br>
      <% end %>
    </ul>
    <br>

    <label>Add new tasks:</label><br>
    <input type="text" name="list[checkitems][][contents]"><br>
    <input type="text" name="list[checkitems][][contents]"><br>
    <input type="text" name="list[checkitems][][contents]"><br>
    <input type="text" name="list[checkitems][][contents]"><br>
    <input type="text" name="list[checkitems][][contents]">
    <br>
    <br>
  <input type="submit" class="update" value="Update List">
  </form>
  <br>
  <form method="post" action="/lists/<%=@list.slug%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" class="delete" value="Delete List">
  </form>
  <br>
  <br>
  <a class="back" href="/lists">Back to Lists</a>
